<footer class="footer" style="height:300px">
  <div class="container pt-5">
    <%= link_to "Potepan Share", users_index_path , class:"fs-1 text-light text-decoration-none" %>
    <p class="text-light">Copyright © Potepan Share 2024 All rights reserved</p>
  </div>
  
</footer>
